html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

/* Utilidades */

.text-center {
  text-align: center;
}

.btn {
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #769c02;
}

/* !important       ID   classes    elemento             */
/*      0           1       0         0       */

/* 0 0 1 1 */

/* .nav-principal a {
  text-decoration: none;
  color: #000;
} */

/* Header y Navegacion */

.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
}

/* % toma el valor de la medido del contenedor padre. */
/* em toma el valor en base a la medida del padre, y lo aumenta. Si el padre mide 10px entonces al hijo al aplicarle 3em seran 30px. */
/* rem toman como referencia el tamaño del html ( default: 16px ) ej. 2rem = 32px */
/* vh */
/* vw Toma la referencia el ancho de la pantalla y lo adapta */

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}

/* Flexbox */

/*  Se le tiene que aplicar display: flex; al elemento padre de lo que se quiere acomodar. En este caso para acomodar los enlaces con flexbox tenemos que aplicar display: flex; a .nav-principal. */

/* Flexbox solo afecta al primer nivel de hijos del contenedor.  */

/* Justify content
    Si el flex-direction es row
      alineara el contenido horizontalmente
    si no, lo alineara verticalmente. */
/* Align items 
    Si el flex-direction es row, alineara los items verticalmente
    si no, los alineara horizontalmente. */

/* CSS Grid  */
/* Permite definir la ubicacion y tamaño de el sitio web.  */
/* Flexbox y CSS Grid se complementan a si mismos. */

.nav-principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
}

/* Formas de Escribir codigo CSS. Modulos, BEM, SMACSS 
*/

/* En modulos se selecciona una clase y de ahi se va seleccionando cada uno de sus elementos*/

/* BEM - Block Element Modifier */
/* .card { }  - Bloque
.card__titulo {} - Bloque__Elemento 
.card__titulo--activo {} - Bloque__elemento--modificador*/

/* Utilidades */
/* .text-center {} */
/* .color-red-100 {} */
/* .bg-blue-200 */
/* .p-2 */
/* .m-2 */

/* Modulos CSS */
/* .card {} */
/* .card h2 {} */
/* .card img {} */
/* .card p {} */

/* SMACSS */
/* Trata de ver que elementos css comparten estilos entre ellos y agruparlos */
/* #header, #article, #footer {
  width:960px;
  margin: auto;
} */
/* Si tiene alguna propiedad distinta se crea su propio selector 
  #article {
    border: solid #CCC;
    border-width: 1px 0 0;
  }
*/

/* .enlace {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #037bc0;
} */

/* BOX MODEL */

/* Contenido, padding, borde, margin */
/* El tamaño se define por estas 4 propiedades. */

/* Displays */

/* Display Block */

/* Significa que este se acomodara por debajo del otro sin importar el tamaño o el contenido */
/* Display Inline */

/* Se acomodara a la derecha una vez haya tomado el espacio que requiere */

/* Display inline-block */

/* Permite darle Width, height, margin a un elemento inline, lo cual no es posible a uno inline. */

/* Categorias */

.categorias {
  padding-top: 5rem;
}

.categoria a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.categoria a:hover {
  background-color: #037bc0;
  color: white;
  border-bottom-right-radius: 1rem;
}

.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Unidades CSS */

/* Absolutas */
/* Son las que son exactas, como los centimetros o pixeles */
/* El problema entra cuando hay pantallas de 1080px hasta 4k px etc. */

/* Relativas */
/* Toman su valor en base a otro elemento */
/* em, rem, vh, vw */
/* Se adaptan mejora a diferentes resoluciones y densidades de pixeles. Lo cual lo hace mejor opcion. */

/* Sobre nosotros */

.sobre-nosotros {
  margin-top: 5rem;
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url("../img/nosotros.jpg");
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
}

/* Flexbox se utiliza para la alineacion o distribucion de los elementos que estaran dentro de los contenedores */
/* Grid para definir el layout de tu sitio web, columnas. contenedores de elementos etc. */

.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros {
  flex-basis: 50%;
  padding-left: 6rem;
  color: #fff;
}

/* Listado de productos */

.contenido-principal {
  padding-top: 5rem;
}

.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.producto:nth-child(1) {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.producto:nth-child(1) img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(2) {
  grid-column: 1 / 4;
}

.producto:nth-child(2) img,
.producto:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.producto:nth-child(3) {
  grid-column: 4 / -1;
}

.producto:nth-child(4) {
  grid-column: 1/3;
}

.producto:nth-child(5) {
  grid-column: 3/5;
}

.producto:nth-child(6) {
  grid-column: 5/7;
}

.producto {
  background-color: #037bc0;
}

.texto-producto {
  text-align: center;
  color: #fff;
  padding: 5rem;
}

.texto-producto h3 {
  margin: 0;
}

.texto-producto p {
  margin: 0 0 0.5rem 0;
}

.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}

/* Footer */
